 [Desktop Entry]
 Encoding=UTF-8
 Version=0.1
 Type=Application
 Name=FastSMS
 Exec=/opt/fastsms/fastsms
 Icon=fastsms
 X-HildonDesk-ShowInToolbar=true
 X-Osso-Type=application/x-executable

